<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder><charset>UTF-8</charset><pattern>%d{HH:mm:ss.SSS} %-5level %logger{24} - %msg%n</pattern></encoder>
  </appender>
  <logger name="org.apache.poi" level="WARN"/>
  <root level="INFO"><appender-ref ref="CONSOLE"/></root>
</configuration>
